<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Recipe Management System</title>
<style>
        body {
            text-align: center;
            margin-top: 20px;
        }
 
        a {
            font-size: 20px;
            margin: 10px;
        }
</style>
</head>
<body>
 
	<h1 style="text-align: center">Welcome to Recipe Manager ! :)) </h1>
	<h2 style="text-align: center">Hope you have a fun experience visiting this Recipe database application</h2>
	<a href = "recipe" >Add Recipe</a>
	<a href = "category" >Add Category</a>
	<a href = "showallrecipes" >Show All Recipes</a>
	<a href = "getRecipebyCategory">Search for Recipe by Category</a>
	<a href = "getById">Search for Recipe by ID</a>
	<a href = "removebyId">Remove Recipe by ID</a>
 
 
</body>
</html>